/* Variables */

:root {
--freelancer-primary: #1ABC9C;
--freelancer-dark-blue: #2C3E50;
--freelancer-dark: #333333;
--freelancer-lighter-blue: #3A546D;

}

/* Header */
.debugs>header {
    height: 100px;
    background-color: var(--freelancer-dark-blue)
}

/* Main */

/* Section hero_img */
.debugs .hero_img {
    height: 500px;
    background-color: var(--freelancer-primary);
}

/* Section about_me */

.debugs .about_me {
    height: 300px;
    background-color: var(--freelancer-primary);
}

/* Section contact */

.debugs .contact {
    height: 400px;
}

/* Footer */

.debugs .site_footer_top {
    height: 120px;
    background-color: var(--freelancer-lighter-blue);
}

.debugs .site_footer_bottom {
    height: 50px;
    background-color: var(--freelancer-dark-blue);
}