/* Variables */

:root {
--freelancer-primary: #1ABC9C;
--freelancer-secondary: #2C3E50;
--freelancer-lighter: #3A546D;

}

/* Utilities */

.bg_freelancer_primary {
    background-color: var(--freelancer-primary);
}

.bg_freelancer_secondary {
    background-color: var(--freelancer-secondary);
}

.bg_freelancer_lighter {
    background-color: var(--freelancer-lighter);
}

/* Jumbotron */

.avatar_img img {
    max-width: 170px;
}

.bar {
    width: 60px;
    height: 2px;
    background-color: white;
}