/* Variables */

:root {
--freelancer-primary: #1ABC9C;
--freelancer-dark-blue: #2C3E50;
--freelancer-dark: #333333;
--freelancer-lighter-blue: #3A546D;

}

/* Common rules */

img {
    max-width: 100%;
}

/* Debugs rules */
.debugs>header {
    height: 100px;
    background-color: var(--freelancer-dark-blue)
}

.debugs .hero_img {
    height: 500px;
    background-color: var(--freelancer-primary);
}

/* .debugs [class^="col"] {
    height: 80px;
    width: 80px;
    background-color: pink;
} */